これをやる
https://qiita.com/hik0107/items/0ae69131e5317b62c3b7

In [1]:
import pandas as pd
import numpy as np

df_sample =\
pd.DataFrame([["day1","day2","day1","day2","day1","day2"],
              ["A","B","A","B","C","C"],
              [100,150,200,150,100,50],
              [120,160,100,180,110,80]] ).T  #とりあえず適当なデータを作ります

df_sample.columns = ["day_no","class","score1","score2"]  #カラム名を付ける
df_sample.index   = [11,12,13,14,15,16]  #インデックス名を付ける

In [2]:
#列方向の合計 
df_sample["score1"].sum(axis=0) # Score1の値の合計を計算
        #axis=0は縦方向にSumするという意味。デフォルトで０なので、省略可能

750

In [3]:
df_sample[["score1","score2"]].sum(axis=0)  #score1,score2をそれぞれ合計。結果は2つ出力

score1    750.0
score2    750.0
dtype: float64

In [4]:
df_sample[["score1","score2"]].sum(axis=1)

11    220.0
12    310.0
13    300.0
14    330.0
15    210.0
16    130.0
dtype: float64

In [8]:
df_sample.pivot_table("score1",     #集計する変数の指定
                       aggfunc="sum",  # 集計の仕方の指定
                       fill_value=0,   # 該当する値がない場合の埋め値の指定
                       columns="day_no")   #列方向に展開する変数の指定

day_no
day1    400
day2    350
Name: score1, dtype: int64

In [10]:
df_sample_grouped = df_sample.groupby("day_no")  # day_noでGroup_byを行う。
df_sample_grouped[["score1","score2"]].sum()

        score1  score2
day_no
day1       400     330
day2       350     420

In [12]:
df_sample_grouped = df_sample.groupby("day_no", as_index=False)

In [14]:
df_sample_grouped[["score1","score2"]].sum()

  day_no  score1  score2
0   day1     400     330
1   day2     350     420