これをやる
https://qiita.com/hik0107/items/d991cc44c2d1778bb82e

In [32]:
import pandas as pd
import numpy as np

df_sample =\
pd.DataFrame([["day1","day2","day1","day2","day1","day2"],
              ["A","B","A","B","C","C"],
              [100,150,200,150,100,50],
              [120,160,100,180,110,80]] ).T  #とりあえず適当なデータを作ります

df_sample.columns = ["day_no","class","score1","score2"]  #カラム名を付ける
df_sample.index   = [11,12,13,14,15,16]  #インデックス名を付ける

In [7]:
df_sample.columns   #列名を取得

Index(['day_no', 'class', 'score1', 'score2'], dtype='object')

In [8]:
df_sample.index     #インデックス名を取得

Int64Index([11, 12, 13, 14, 15, 16], dtype='int64')

In [9]:
df_sample.columns = ["day_no","class","point1","point2"]   # カラム名を上書き
df_sample.index   = [11,12,13,14,15,16]   # インデックス名を上書きする

In [10]:
# Renameメソッドを使う
df_sample.rename(columns={'score1': 'point1'})  #対応関係を辞書型で入れてやる

   day_no class point1 point2
11   day1     A    100    120
12   day2     B    150    160
13   day1     A    200    100
14   day2     B    150    180
15   day1     C    100    110
16   day2     C     50     80

In [11]:
# 行数の確認
len(df_sample)

6

In [12]:
# 次元数の確認
df_sample.shape #（行数、列数）の形で返す

(6, 4)

In [13]:
# カラム情報の一覧
df_sample.info() #カラム名とその型の一覧

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6 entries, 11 to 16
Data columns (total 4 columns):
day_no    6 non-null object
class     6 non-null object
point1    6 non-null object
point2    6 non-null object
dtypes: object(4)
memory usage: 240.0+ bytes

In [14]:
# 各列の基礎統計量の確認
# Rでいうところのsummary()
df_sample.describe() # 平均、分散、4分位など

       day_no class  point1  point2
count       6     6       6       6
unique      2     3       4       6
top      day2     C     150     110
freq        3     2       2       1

In [15]:
# head / tail
df_sample.head(10) #先頭10行を確認

   day_no class point1 point2
11   day1     A    100    120
12   day2     B    150    160
13   day1     A    200    100
14   day2     B    150    180
15   day1     C    100    110
16   day2     C     50     80

In [16]:
df_sample.tail(10) #先頭10行を確認

   day_no class point1 point2
11   day1     A    100    120
12   day2     B    150    160
13   day1     A    200    100
14   day2     B    150    180
15   day1     C    100    110
16   day2     C     50     80

In [17]:
#組み込み関数__get_item___を使った選択
df_sample["day_no"] #列名を書いて指定

11    day1
12    day2
13    day1
14    day2
15    day1
16    day2
Name: day_no, dtype: object

In [21]:
df_sample[["day_no","score1"]] #複数列を選択する場合にはリスト表記を使う

   day_no score1
11   day1    100
12   day2    150
13   day1    200
14   day2    150
15   day1    100
16   day2     50

In [22]:
df_sample.loc[:,"day_no"]

11    day1
12    day2
13    day1
14    day2
15    day1
16    day2
Name: day_no, dtype: object

In [23]:
df_sample.loc[:,["day_no","score1"]]

   day_no score1
11   day1    100
12   day2    150
13   day1    200
14   day2    150
15   day1    100
16   day2     50

In [24]:
df_sample.iloc[:,0]

11    day1
12    day2
13    day1
14    day2
15    day1
16    day2
Name: day_no, dtype: object

In [25]:
df_sample.iloc[:,0:2] #複数で連番の場合。リスト表記でも行ける

   day_no class
11   day1     A
12   day2     B
13   day1     A
14   day2     B
15   day1     C
16   day2     C

In [26]:
df_sample.ix[:,"day_no"]

11    day1
12    day2
13    day1
14    day2
15    day1
16    day2
Name: day_no, dtype: object

In [27]:
df_sample.ix[:,["day_no","score1"]]

   day_no score1
11   day1    100
12   day2    150
13   day1    200
14   day2    150
15   day1    100
16   day2     50

In [28]:
df_sample.ix[0:4,"score1"]

Series([], Name: score1, dtype: object)

In [29]:
series_bool = [True,False,True,False]

In [30]:
df_sample.ix[:,series_bool]

   day_no score1
11   day1    100
12   day2    150
13   day1    200
14   day2    150
15   day1    100
16   day2     50

In [33]:
score_select = pd.Series(df_sample.columns).str.contains("score") # "score"を列名に含むかどうかの論理判定
df_sample.ix[:,np.array(score_select)]   # 論理配列を使って列選択

   score1 score2
11    100    120
12    150    160
13    200    100
14    150    180
15    100    110
16     50     80

In [34]:
## Pythonのデフォルトの表記
## データフレーム[Booleanの配列を入れる]
df_sample[df_sample.day_no == "day1"]  # day_no列がday1のデータのみを選択

   day_no class score1 score2
11   day1     A    100    120
13   day1     A    200    100
15   day1     C    100    110

In [35]:
series_bool = [True,False,True,False,True,False]
df_sample[series_bool] # データフレーム自身の列以外も当然条件に使える

   day_no class score1 score2
11   day1     A    100    120
13   day1     A    200    100
15   day1     C    100    110

In [36]:
##Pandasのqueryメソッドを使った場合の表記
df_sample.query("day_no == 'day1'")  
     # データフレーム名を2度書く必要が無いため、すっきりする
     # 条件式はStr形式で入れてやらなければならないことに注意

   day_no class score1 score2
11   day1     A    100    120
13   day1     A    200    100
15   day1     C    100    110

In [37]:
df_sample.query("day_no == 'day1'|day_no == 'day2'")
     # 複数条件の場合は、or条件の "|" もしくは and条件の "&"を間に入れてやる

   day_no class score1 score2
11   day1     A    100    120
12   day2     B    150    160
13   day1     A    200    100
14   day2     B    150    180
15   day1     C    100    110
16   day2     C     50     80

In [39]:
select_condition = "day1"
df_sample.query("day_no == @select_condition")  # ◯ it works
        # 変数を使いたい場合には、変数名のアタマに@をつけると、変数名として認識する

   day_no class score1 score2
11   day1     A    100    120
13   day1     A    200    100
15   day1     C    100    110

In [40]:
df_sample.query("index == 11 ")  # 普通にindexと書いてやれば動く
df_sample.query("index  in [11,12] ") #　or条件には、「in」も使える

   day_no class score1 score2
11   day1     A    100    120
12   day2     B    150    160

queryはかなり使えそう、ixも良さげ

In [42]:
df_sample.sort("score1")  # Score1の値で昇順でソート

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel_launcher.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  """Entry point for launching an IPython kernel.

   day_no class score1 score2
16   day2     C     50     80
11   day1     A    100    120
15   day1     C    100    110
12   day2     B    150    160
14   day2     B    150    180
13   day1     A    200    100

In [44]:
df_sample.sort(["score1","score2"])  # Score1とScore2の値で昇順でソート
df_sample.sort("score1",ascending=False)  #score1の値で降順でソート

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel_launcher.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  """Entry point for launching an IPython kernel.
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel_launcher.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

   day_no class score1 score2
13   day1     A    200    100
12   day2     B    150    160
14   day2     B    150    180
11   day1     A    100    120
15   day1     C    100    110
16   day2     C     50     80

sortはダッシュボードで絶対に使う

In [45]:
df_addition_row =\
    pd.DataFrame([["day1","A",100,180]])  #df_sampleと同じ列構造を持つDFを作成

In [46]:
df_addition_row.columns =["day_no","class","score1","score2"]  #同じ列名を付ける
df_addition_row.index   =[17] #インデックスをふる

In [47]:
pd.concat([df_sample,df_addition_row],axis=0)

   day_no class score1 score2
11   day1     A    100    120
12   day2     B    150    160
13   day1     A    200    100
14   day2     B    150    180
15   day1     C    100    110
16   day2     C     50     80
17   day1     A    100    180

In [48]:
df_addition_col =\
    pd.DataFrame([[120,160,100,180,110,80]]).T #df_sampleと同じ行数を持つDFを作成

df_addition_col.columns =["score3"] #列名は結合後にもそのまま使われる
df_addition_col.index   = [11,12,13,14,15,16]

In [49]:
pd.concat([df_sample,df_addition_col],axis=1) #axis=1は横方向の結合を指定します。

   day_no class score1 score2  score3
11   day1     A    100    120     120
12   day2     B    150    160     160
13   day1     A    200    100     100
14   day2     B    150    180     180
15   day1     C    100    110     110
16   day2     C     50     80      80

In [50]:
f_addition_col =\
    pd.DataFrame([[120,160,100,180,110,80]]).T

df_addition_col.columns =["score3"]
df_addition_col.index   = [11,12,13,21,22,23]   #一部はもとのデータとインデックスが一致するが、一部は一致しない


pd.concat([df_sample,df_addition_col],axis=1)  # 結果は....

   day_no class score1 score2  score3
11   day1     A    100    120   120.0
12   day2     B    150    160   160.0
13   day1     A    200    100   100.0
14   day2     B    150    180     NaN
15   day1     C    100    110     NaN
16   day2     C     50     80     NaN
21    NaN   NaN    NaN    NaN   180.0
22    NaN   NaN    NaN    NaN   110.0
23    NaN   NaN    NaN    NaN    80.0

columnsとindexを先に定義してNaNを0埋めすれば良いかも